* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.cart-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 1rem;
    border: 1px solid black;
}
.cart-header {
    text-decoration: underline;
    align-self: flex-start;
    margin: 1rem;
}
.item-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, minmax(16px, 1fr));
    /* justify-content: space-evenly; */
    border: 1px solid red;
}
.item {
    font-size: 2rem;
}
.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid magenta;
}