* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.cart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cart-header {
    text-decoration: underline;
    align-self: flex-start;
    margin: 1rem;
}
.item-container {
    display: flex;
    justify-content: space-around;
}
.item {
    font-size: 2rem;
}
.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}