* {
    box-sizing: border-box;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(5, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
}