* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.cart-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 1rem;
    padding-bottom: 1rem;
    /* border: 1px solid black; */
}
.cart-header {
    text-decoration: underline;
    align-self: flex-start;
    margin: 1rem;
}
.item-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border-bottom: 1px solid #C4BFC1;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
}
.item {
    font-size: 2rem;
    
}
.item-quantity {
    font-size: 2rem;
    width: 60px;
    text-align: center;
}
/* Close button */
.close-container {
    display: flex;
    justify-content: space-evenly;
}
.close-button {
    margin-left: 1rem;
}
.close-button:hover {
    background-color: red;
    cursor: pointer;
}
.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid magenta; */
}
.quantity-container p {
    font-weight: bold;
}
/* Image styling  */
.cart-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-container, .cart-img-container img {
    height: 10vh;
    mix-blend-mode: multiply;
}
/* Price styling */
.total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid magenta; */
}
.total-container p {
    font-weight: bold;
}
/* order summary */
.order-summary-container {
    display: flex;
    flex-direction: column;
}
.order-summary {
    text-decoration: underline;
    margin: 1rem;
}
.subtotal-container {
    /* border: 1px solid green; */
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}
/* Checkout button */
.checkout-button-container {
    grid-column: 1 / -1;
}
.checkout-button {
    width: 100%;
    height: 4rem;
    cursor: pointer;
}
@media only screen and (min-width: 300px) and (max-width: 589px) {
    .item {
        font-size: 1rem;
    }
    .cart-img-container, .cart-img-container img {
        height: 13vh;
    }
    .item-container {
        margin: 1rem;
    }
    
}