.home-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid red;
}
.home-img-div {
    border: 1px solid green;
    width: calc(50% - 1rem); 
    height: 40vh;
    display: flex;
    position: relative;
    overflow: hidden;

}
.home-img-div img {
    width: 100%;
    /* height: 40vh; */
    /* height: 100%; */
    object-fit: cover;
    display: block;
}
.inner-text {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    color: white;
    font-size: 32px;
    transform: translate(0);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
}
.text p {
    opacity: 1;
    border: 1px solid magenta;
    margin: 0;
}

.home-img-div:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.50;
}

/* Media Query for small screens */
@media only screen and (max-width: 600px) {
    .home-img-div {
        width: 100%;
        height: 40vh;
    }
    .home-img-div img {
        height: 40vh;
    }
}