
.navbar-bottom {
    border: 1px solid red;
    width: 100%;
    background-color: teal;
}
.nav-ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.5rem;
}
.navbar-bottom ul {
    list-style: none;
}
.nav-ul li > *  {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.nav-ul li {
    padding: 0.25rem;
}
.nav-ul li:hover {
    background-color: rgb(4, 100, 100);
    border-radius: 10px;
}